@model SistemErasmusRazmjena.Models.ErasmusProgram

@{
    ViewData["Title"] = "Delete";
}

<h1>Obriši program</h1>

<div>
    <h4>Erasmus Program</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semestar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semestar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AkademskaGodina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AkademskaGodina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Univerzitet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Univerzitet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Obriši" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary ms-2">Nazad na listu</a>
    </form>
</div>
