@model SistemErasmusRazmjena.Models.Notifikacija

@{
    ViewData["Title"] = "Delete";
}

<h1>Obriši</h1>

<div>
    <h4>Notifikacija</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Korisnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Korisnik.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vrijeme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vrijeme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sadrzaj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sadrzaj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Procitano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Procitano)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Nazad na listu</a>
    </form>
</div>
