@model IEnumerable<SistemErasmusRazmjena.Models.Notifikacija>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Stvori novu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vrijeme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sadrzaj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procitano)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Korisnik.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vrijeme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sadrzaj ?? "N/A")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Procitano)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
