@model SistemErasmusRazmjena.Models.Prijava

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prijava</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErasmusProgram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErasmusProgram.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dokumentacija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dokumentacija.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrijedlogPredmeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrijedlogPredmeta.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
